.die {
  position: absolute;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.side {
  position: absolute;
  background: #fff;
  background-color: #fff;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
  backface-visibility: hidden;
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  margin: -8px 4px 4px -8px;
  border-radius: 16px;
  background-color: #555;
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 20%;
  left: 20%;
}

.four-3,
.five-3,
.six-4 {
  top: 20%;
  left: 80%;
}

.one-1,
.three-2,
.five-5 {
  top: 50%;
  left: 50%;
}

.four-2,
.five-2,
.six-3 {
  top: 80%;
  left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  top: 80%;
  left: 80%;
}

.six-2 {
  top: 50%;
  left: 20%;
}

.six-5 {
  top: 50%;
  left: 80%;
}

.side:nth-child(1) {
  transform: translateZ(40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(40px);
}

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(40px);
}

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(40px);
}

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(40px);
}

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(40px);
}
